/* Estilo general */
body {
    font-family: Arial, sans-serif;
    background-color: #000000;
    color: #eee;
}
.container {
    max-width: 800px;
    margin-top: 50px;
}

h1 {
    color: yellow;
}

label {
    color: yellow;
}

button {
    background-color: #f1c40f; /* Amarillo */
    border: none;
}

button:hover {
    background-color: #f39c12;
}

/* Estilo para inputs y selects */
input, select {
    border: 1px solid #f1c40f;
    background-color: #222222;
    color: #eee;
}

input:focus, select:focus {
    border-color: #f39c12;
    outline: none;
}
