/* Estilo para el encabezado */
.header h1 {
    font-size: 3em;
}
body{
    background-color: black;
}
.header p {
    font-size: 1.5em;
}

.header .quote {
    font-style: italic;
}

/* Juego Item */
.game-item {
    border-radius: 8px;
}

.game-info h3 {
    font-size: 1.3em;
    margin-bottom: 10px;
}

/* Enlaces y botones */
a {
    color: #999;
    text-decoration: none;
}

a:hover {
    color: yellow;
}
